
{% extends "empleados.html" %}

{% block content %}
    
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'Registrar' %}">Alta de Empleados <span class="sr-only"></span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'Buscar' %}" >Consulta de Empleados</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'Eliminar' %}">Eliminar Empleados</a>
                  </li>
              </ul>
          </div>
        </nav>
        <p></p>
          <hr>
        <div class="row text-center">
          <div class="col-md-7">
            <h4>Actualización de Empleados</h4>
              <form action="#" method="POST"> {% csrf_token %}
                    <table class="table" style="width:80%; aling:center;">
                        <tr>
                            <td></td>
                            <td><input type="hidden" name="id" value="{{empleado.id}}"/></td>
                        </tr>
                        <tr>
                          <td style="width:200px;"><label>Nombre: </label></td>
                          <td><input type="text" name="name" required maxlength="49" size="50" value="{{empleado}}"/></td>
                        </tr>
                        <tr>
                          <td><label>Fecha de Nacimiento: </label></td>
                          <td><input type="date" name="nacimiento" required value="{{empleado.fechanac | date:'Y-m-d'}}"/></td>
                        </tr>
                        <tr>
                          <td><label>Correo electrónico: </label></td>
                          <td><input type="email" name="mail" required size="50" value="{{empleado.email}}"/></td>
                        </tr>
                        <tr>
                          <td><label>Género: </label></td>
                          <td>
                            <select name="genero">
                                <option value="A"> Selecciona una opción</option>
                                <option value="H" {% if empleado.genero == 'H'%} selected {% endif %}>Hombre</option>
                                <option value="M" {% if empleado.genero == 'M'%} selected {% endif %}>Mujer</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td><label>Teléfono: </label></td>
                          <td> <input type="text" name="tel"  pattern="[0-9]{10}" placeholder="10 digitos" size="50" value="{{empleado.telefono}}"/></td>
                        </tr>
                        <tr>
                          <td><label>Celular: </label></td>
                          <td><input type="text" name="cel" pattern="[0-9]{10}" placeholder="10 digitos" size="50" value="{{empleado.cel}}"/></td>
                        </tr>
                        <tr>
                          <td> <label>Fecha de Ingreso: </label></td>
                          <td><input type="text" name="ingreso" disabled  value="{{empleado.fechaing}}"/></td>
                        </tr>
                        <tr>
                          <td> <label>Departamento: </label></td>
                          <td><input type="text" name="depto"   value="{{empleado.depto_id}}"/></td>
                        </tr>
                    <table>
                    <div>
                        <input type="submit" value="Guardar" /> 
                    </div>
                </form>
               </div> 
        </div>

    </div>

  {% endblock %}