{% extends "base.html" %}

{% load static %}

{% block content %}

   <!-- Contenido -->
   <div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item ">
                    <a class="nav-link" href="{% url 'REmpresa' %}">Por Empresa<span class="sr-only"></span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'RDepto' %}">Por departamento</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'RNombre' %}">Por Nombre</a>
                  </li>
              </ul>
          </div>
          </nav>
          <p></p>
          <hr>

          <form action="/reporteDep/" method="POST" > {% csrf_token %}
          <table>
                <td><label>Departamento: </label></td>
                    <td>
                        <select name="dep">
                            <option value="A" selected> Selecciona una opción</option>
                                {% for e in deptos%}
                                      <option value="{{e.id}}">{{e}} - {{e.emp}}</option>
                                {% endfor %}
                        </select>
                </td>
                <td><input type="submit" value="Consultar" /> </td>
          </table>
          </form>

          <p>Registros Encontrados: {{empleados|length}}</p>
            <table class="table">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Correo Electronico</th>
                    <th>Genero</th>
                    <th>Telefono</th>
                    <th>Celular</th>
                    <th>Fecha de Ingreso</th>
                    <th>Departamento</th>
                    <th>Empresa</th>
                </tr>
                </thead>
                <tbody>
                {% for articulo in empleados%}
                <tr>
                    <td>{{articulo.nombre}}</td>
                    <td>{{articulo.fechanac}}</td>
                    <td>{{articulo.email}}</td>
                    <td>{{articulo.genero}}</td>
                    <td>{{articulo.telefono}}</td>
                    <td>{{articulo.cel}}</td>
                    <td>{{articulo.fechaing}}</td>
                    <td>{{articulo.depto}}</td>
                    <td>{{articulo.depto.emp}}</td>
                {% endfor %}
                </tbody>
            </table>




   </div>
   

{% endblock %}